.logos img{

    height: 50px;

  }
.logos{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.navbar{
    background-color: rgb(5, 39, 69);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
}
.link{
    text-decoration: none;
    color: aliceblue;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    font-family: sans-serif;
    
}
.link:hover{
    border-bottom: 2px solid #fff;
}
.link:active{
    border-bottom: 2px solid #fff;
}
.links{
    margin: 80px 100px;
}